@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Agrandir", sans-serif;
}
.border-inspecting {
  border: 2px solid red;
}
#slider-spacing {
  margin-left: 20px !important;
}
@font-face {
  font-family: "Agrandir GrandHeavy";
  src: url("/font/Agrandir-GrandHeavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Agrandir Regular ";
  src:  url("/font/Agrandir-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Agrandir TextBold";
  src:  url("/font/Agrandir-TextBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h1{
   font-family: "Agrandir GrandHeavy", sans-serif;
}
.section-headers{
  font-family:  "Agrandir TextBold", sans-serif;
}
p,strong{
  font-family:"Agrandir Regular", sans-serif;
}
.hero p, .hero strong{
  font-weight: 700;
}
@layer components {
  .footer-headings {
    @apply text-primary font-bold;
  }
  .logo-width {
    @apply w-20 lg:w-28;
  }
  .section-headers {
    @apply text-primary font-bold text-3xl lg:text-5xl;
  }
  /* lg:pt-[52px] */
  .section-spacing {
    @apply px-[11px] py-8 lg:px-32 lg:py-16;
  }
  .flex-container {
    @apply lg:flex justify-between;
  }
  .transitions {
    @apply transition-all delay-100 duration-200 ease-in;
  }
  .action-buttons {
    @apply block lg:inline-block rounded-full font-semibold text-pry1 px-1 mx-auto w-[184px] h-[60px];
  }
  .labels {
    @apply block font-bold mb-4 mt-8;
  }
  .inputs {
    @apply bg-pry1 outline-none rounded-sm focus:outline focus:outline-1 focus:outline-pry3
    p-3 w-full shadow-md shadow-myCustomColor-lighterGreen;
  }
}
